.pagination__list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a:focus,
.pagination a:hover {
    text-decoration: underline;
}

.pagination li {
    display: inline;
}

.pagination a[aria-current="page"] {
    border: 1px solid #c9dde9;
    border-radius: 3px;
}

.pagination a span.clipped {
    padding: 0;
}
