.accordion > div {
    border: 1px solid #ddd;
    border-bottom: 0;
}
.accordion > div > div {
    padding: 1em;
}
.accordion > div:last-child {
    border-bottom: 1px solid #ddd;
}
.accordion > div >:first-child {
    margin: 0;
    padding: 0.5em;
}
.accordion > div > *:first-child {
    background-color: LightYellow;
    font-weight: normal;
}

/* after enhancement */

.accordion [role=tab] {
    cursor: pointer;
}
.accordion [role=tab]::after {
    color: #999;
    float: right;
    font-family: 'vq-icon-font';
    content: '\e608';
}
.accordion [role=tab]:focus {
    background-color: #006699;
    color: white;
    outline: 0;
}
.accordion [role=tab][aria-selected=true]:after {
    content: '\e606';
}
.accordion [role=tab]:focus:after {
    color: white;
}
.accordion [role=tab][aria-selected=true] + [role=tabpanel] {
    display: block;
}
.accordion [role=tab][aria-selected=false] + [role=tabpanel] {
    display: none;
}
.accordion [role=tabpanel] {
    border-top: 1px solid #ddd;
    padding: 0.5em 1em;
}
