.passwordstrength-js {
    display: inline-block;
}
.passwordstrength-meter {
    background-color: #eee;
    border: 1px solid #ccc;
    display: inline-block;
    height: 16px;
    width: 80px;
    vertical-align: text-bottom;
}
.passwordstrength-meter > span  {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s ease;
}
.passwordstrength-label {
    color: #767676;
    display: inline-block;
    margin: 0;
}
.passwordstrength-empty .passwordstrength-meter > span {

}
.passwordstrength-tooshort .passwordstrength-meter > span {
    background-color: red;
    width: 20%;
}
.passwordstrength-invalid .passwordstrength-meter > span {
    background-color: red;
    width: 40%;
}
.passwordstrength-weak .passwordstrength-meter > span {
    background-color: yellow;
    width: 60%;
}
.passwordstrength-medium .passwordstrength-meter > span {
    background-color: yellow;
    width: 80%;
}
.passwordstrength-strong .passwordstrength-meter > span {
    background-color: green;
    width: 100%;
}
