.accordion {
    margin: 0;
    padding: 0;
}

.accordion > li {
    list-style: none;
}

.accordion details summary h2,
.accordion details summary h3,
.accordion details summary h4,
.accordion details summary h5,
.accordion details summary h6 {
    display: inline-block;
    margin: 0.5em;
}
