@font-face {
    font-family: "vq-icon-font";
    font-style: normal;
    font-weight: normal;
    src: url('fonts/vq-icon-font.eot');
    src: url('fonts/vq-icon-font.eot?#iefix') format('embedded-opentype'), url('fonts/vq-icon-font.woff') format('woff'), url('fonts/vq-icon-font.ttf') format('truetype'), url('fonts/vq-icon-font.svg#vq-icon-font') format('svg');
}

body {
    color: #111;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    margin: 0;
}

h1 {
    font-weight: 100;
    font-size: 3.5rem;
    margin-bottom: 24px;
    margin-top: 20px;
}

h2 {
    border-bottom: 1px solid #eee;
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 32px;
    margin-top: 48px;
    padding-bottom: 8px;
}

h3 {
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 40px;
}

p {
    line-height: 1.5;
}

a {
    color: #006699;
}

legend {
    font-weight: bold;
}

fieldset {
    border: 1px solid #ddd;
    margin: 16px 0;
    padding: 32px;
}

select {
    font-size: 1em;
}

input[type=text],
input[type=password] {
    font-size: 1em;
    padding: 4px 8px;
}

[hidden] {
    display: none;
}

.button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    padding: 4px 8px;
}

a.button[role=button] {
    color: currentColor;
    display: inline-block;
    text-decoration: none;
}

[role=button] {
    cursor: default;
}

body > header {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    padding: 32px 16px 16px 16px;
    overflow: auto;

    ul {
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
        list-style-type: none;
        margin: 16px 0 8px;
        padding: 0;
    }

    li {
        line-height: 1.5;
    }

    a {
        color: #000;
        font-weight: 200;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

[role=main] {
    padding: 16px;
}

#logo {
    display: block;

    span:first-child {
        background: url('http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png?e') 0 117px;
        background-size: 190px;
        display: inline-block;
        height: 37px;
        overflow: hidden;
        position: relative;
        top: 1px;
        width: 89px;
        vertical-align: bottom;
    }

    span:last-child {
        color: #333;
        display: inline-block;
        font-size: 1.75rem;
        font-weight: 200;
    }
}

#skiptomain {
    left: 0;
    text-align: center;
    top: 0;
}

#skiptomain a {
    background-color: LightYellow;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

sup {
    font-size: small;
}

// large screen breakpoint

@media (min-width: 800px) {

    h1 {
        margin-top: 88px;
    }

    body > header {
        border-bottom: 0;
        border-right: 1px solid #eee;
        display: block;

        ul {
            column-count: 2;
            -moz-column-count:2;
            -webkit-column-count: 2;
        }

        li {
            line-height: 2;
        }

        li a {
            font-size: 1.125rem;
        }
    }

    .row:first-of-type h3 {
        margin-top: 0;
    }

    [role=main] {
        padding: 0 12px 32px;
    }

    #skiptomain a:focus {
        width: 310px;
    }
}
