@font-face {
    font-family: "vq-icon-font";
    font-style: normal;
    font-weight: normal;
    src: url('fonts/vq-icon-font.eot');
    src: url('fonts/vq-icon-font.eot?#iefix') format('embedded-opentype'), url('fonts/vq-icon-font.woff') format('woff'), url('fonts/vq-icon-font.ttf') format('truetype'), url('fonts/vq-icon-font.svg#vq-icon-font') format('svg');
}

body {
    color: #111;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    margin: 0;
}

h1 {
    font-weight: 100;
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 300;
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

a {
    color: #006699;
}

hr {
    border-style: solid;
}

legend {
    font-weight: bold;
}

fieldset {
    border: 1px solid #ddd;
    margin: 16px 0;
    padding: 32px;
}

select {
    font-size: 1em;
}

input[type=text],
input[type=password] {
    font-size: 1em;
    padding: 4px 8px;
}

[hidden] {
    display: none;
}

.button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    padding: 4px 8px;
}

a.button[role=button] {
    color: currentColor;
    display: inline-block;
    text-decoration: none;
}

[role=button] {
    cursor: default;
}

.header-small {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 8px 0;

    li {
        display: inline;

        a {
            display: inline-block;
            text-transform: capitalize;
            &:first-letter {
                font-weight: 300;
            }
        }

        &::after {
            content: ' - ';
        }

        &:last-child::after {
            content: '';
        }
    }

    .header-small__home {
        font-size: 1.5rem;
    }
}

.header-large {
    display: none;
}

.header-small,
.header-large {
    background-color: #222;
    box-sizing: border-box;
    color: #fff;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: #ddd;
        font-weight: 200;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

[role=main] {
    padding: 32px 16px;
}

#logo {
    text-align: center;

    a {
        display: inline-block;
    }

    span {
        background: url('http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png?e') 0 117px;
        background-size: 190px;
        display: inline-block;
        height: 37px;
        overflow: hidden;
        width: 89px;
    }
}

#skiptomain {
    left: 0;
    text-align: center;
    top: 0;
}

#skiptomain a {
    background-color: LightYellow;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

sup {
    font-size: small;
}

// large screen breakpoint

@media (min-width: 600px) {

    .header-small {
        display: none;
    }

    .header-large {
        border-bottom: 0;
        border-right: 1px solid black;
        display: block;
        height: 100%;
        left: 0;
        overflow: auto;
        padding: 32px 16px;
        position: fixed;
        top: 0;
        width: 200px;

        h2 {
            font-size: 1rem;
            margin: 0;
        }

        h3 {
            font-size: 1rem;
            line-height: 1.75;
            margin-bottom: 0;
            text-transform: capitalize;

            &:first-letter {
                font-weight: 400;
            }
        }

        ul {
            line-height: 1.75;
            margin-bottom: 16px;
        }
    }

    [role=main] {
        max-width: 1000px;
        margin-left: 240px;
        margin-right: 40px;
    }

    .row:first-of-type h3 {
        margin-top: 0;
    }

    #skiptomain a:focus {
        width: 200px;
    }
}
