body {
    color: #111;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    margin: 0;
}

h1 {
    font-weight: 200;
    font-size: 2.75rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 250;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.75rem;
}

a {
    color: #006699;
}

fieldset {
    border: 1px solid #ddd;
    margin: 16px 0;
    padding: 16px;
}

select {
    font-size: 1em;
}

main > hr {
    border-top: 1px solid #ccc;
    clear: both;
    margin: 2rem 0;
}

.button {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    padding: 4px 8px;
}

a.button[role=button] {
    color: currentColor;
    display: inline-block;
    text-decoration: none;
}

button.icon-btn,
a.icon-link {
  background-color: transparent;
  height: 40px;
  width: 40px;
}

[role=button] {
    cursor: default;
}

.header-small {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 8px 0;

    li {
        display: inline;

        a {
            display: inline-block;
            text-transform: capitalize;

            &:focus {
                outline: 1px dotted white;
            }

            &:first-letter {
                font-weight: 300;
            }
        }

        &::after {
            content: ' - ';
        }

        &:last-child::after {
            content: '';
        }
    }

    .header-small__home {
        font-size: 1.5rem;
    }
}

.header-large {
    display: none;
}

.header-small,
.header-large {
    background-color: #222;
    box-sizing: border-box;
    color: #fff;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: #ddd;
        font-weight: 200;
        text-decoration: none;

        &:focus {
            outline: 1px dotted white;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

#main[role=main],
#main[role=presentation] {
    padding: 32px 16px;
}

#main[role=main]:focus,
#main[role=presentation]:focus {
    outline: 0 none;
}

#logo {
    margin-bottom: 16px;
    text-align: center;

    a {
        display: inline-block;
    }

    span {
        background: url('http://ir.ebaystatic.com/rs/v/fxxj3ttftm5ltcqnto1o4baovyl.png?e') 0 117px;
        background-size: 190px;
        display: inline-block;
        height: 37px;
        overflow: hidden;
        width: 89px;
    }
}

#skiptomain {
    left: 0;
    text-align: center;
    top: 0;
}

#skiptomain a {
    background-color: LightYellow;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

sup {
    font-size: small;
}

// polyfill the hidden attribute
[hidden] {
    display: none;
}

// large screen breakpoint

@media (min-width: 600px) {

    .header-small {
        display: none;
    }

    .header-large {
        border-bottom: 0;
        border-right: 1px solid black;
        display: block;
        height: 100%;
        left: 0;
        overflow: auto;
        padding: 32px 16px;
        position: fixed;
        top: 0;
        width: 200px;

        h2 {
            font-size: 1rem;
            margin: 0;
        }

        h3 {
            font-size: 1rem;
            line-height: 1.75;
            margin-bottom: 0;
            text-transform: capitalize;

            &:first-letter {
                font-weight: 400;
            }
        }

        ul {
            line-height: 1.75;
            margin-bottom: 16px;
        }
    }

    #main[role=main],
    #main[role=presentation] {
        max-width: 1000px;
        margin-left: 240px;
        margin-right: 40px;
    }

    .row:first-of-type h3 {
        margin-top: 0;
    }

    #skiptomain a:focus {
        width: 200px;
    }
}

body.lights-on {
    background-color: #ffcc00;
}
