.breadcrumbs ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li a {
    text-decoration: none;
}

.breadcrumbs li a:hover,
.breadcrumbs li a:focus {
    text-decoration: underline;
}

.breadcrumbs a[aria-current] {
    color: inherit;
}
