.combobox {
    position: relative;
}
.combobox__description {
    display: none;
}
.combobox__status {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.combobox__listbox {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.combobox--expanded .combobox__listbox {
    display: block;
}

.combobox__listbox [role=listbox] {
    background: LightYellow;
    border: 1px solid #eee;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.combobox__listbox [role="option"] {
    cursor: default;
    font-size: 1em;
    padding: 8px;
}
.combobox__option:hover,
.combobox__option--active {
    background-color: #006699;
    color: white;
}
