.combobox > [role=combobox] {
    display: inline;
}
.combobox > button:after {
    font-family: 'vq-icon-font';
    content: '\e606';
}
.combobox__description {
    display: none;
}
.combobox__status {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.combobox [role=combobox][aria-expanded=true] + button:after {
    content: '\e609';
}
.combobox [role=listbox] {
    background: LightYellow;
    border: 1px solid #eee;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.combobox li {
    cursor: pointer;
    font-size: 1em;
    padding: 8px;
}
.combobox li[role=option]:hover,
.combobox li.active-descendant[role=option] {
    background-color: #006699;
    color: white;
}
