/* Polyfill IE/Edge */
details.details {
    display: block;
}

/* Remove details marker for non-webkit */
details.details summary {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
}

/* Remove details marker for webkit */
details.details summary::-webkit-details-marker {
    display: none
}

/* Custom details marker for closed state */
details.details summary::before {
    content: "\025B8";
    display: inline-block;
    width: 1em;
}

/* Custom details marker for open state */
details.details[open] summary::before,
details.details[data-makeup-open] summary::before {
    content: "\025BE";
}

/* Move to accordion */
details.details summary h2,
details.details summary h3,
details.details summary h4 {
    display: inline-block;
}
