body.has-modal {
    overflow: hidden;
}

.dialog[role="dialog"],
.dialog[role="alertdialog"] {
    background-color: rgba(51,51,51,.7);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px;
    z-index: 1000;
    will-change: background-color;
}

.dialog__window {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 980px;
    overflow: auto;
    overflow-x: hidden;
    padding: 8px 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    will-change: opacity, transform;
    z-index: 1;
}

.dialog__header {
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    font-size: 16px;
    padding: 8px;
}

.dialog__title {
    font-size: 28px;
    align-self: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.dialog__main {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 8px 16px 16px 16px;
    overflow-y: scroll;
}

/* CSS transitions */

.dialog--show .dialog__window--fade,
.dialog--hide .dialog__window--fade {
  -webkit-transition: opacity 0.16s ease-out;
  transition: opacity 0.16s ease-out;
}

.dialog--show-init,
.dialog--show {
  display: block;
}

.dialog--show-init .dialog__window--fade,
.dialog--hide .dialog__window--fade {
  opacity: 0;
}

.dialog--show .dialog__window--fade,
.dialog--hide-init .dialog__window--fade {
  opacity: 1;
}
