body.has-modal {
    overflow: hidden;
}

.dialog[role="dialog"],
.dialog[role="alertdialog"] {
    background-color: rgba(51,51,51,.7);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px;
    z-index: 1000;
    will-change: background-color;
}

.dialog[role="dialog"]:not([hidden]),
.dialog[role="alertdialog"]:not([hidden]) {
    display: flex;
}

.dialog__window {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    box-sizing: border-box;
    height: auto;
    margin: auto;
    max-width: 980px;
    min-width: 320px;
    overflow: auto;
    overflow-x: hidden;
    padding: 16px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    will-change: opacity, transform;
    z-index: 1;
}

.dialog__header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-size: 16px;
    padding: 8px 16px;
}

.dialog__close {
    display: inline-block;
    margin-right: 8px;
}

.dialog__title {
    margin: 0;
    padding: 0;
}

.dialog__main {
    margin: 8px 0;
    overflow-y: scroll;
}

.dialog__main,
.dialog__footer {
    box-sizing: border-box;
    padding: 0 16px;
}

/* CSS transitions */

.dialog--show.dialog--mask-fade,
.dialog--hide.dialog--mask-fade {
  -webkit-transition: background-color 0.16s ease-out;
  transition: background-color 0.16s ease-out;
}

.dialog--show .dialog__window--fade,
.dialog--hide .dialog__window--fade {
  -webkit-transition: opacity 0.16s ease-out;
  transition: opacity 0.16s ease-out;
}

.dialog--show-init,
.dialog--show {
  display: flex;
}

.dialog--hide.dialog--mask-fade,
.dialog--show-init.dialog--mask-fade {
  background-color: rgba(17, 24, 32, 0);
}

.dialog--show.dialog--mask-fade,
.dialog--hide-init.dialog--mask-fade {
  background-color: rgba(17, 24, 32, 0.7);
}

.dialog--show-init .dialog__window--fade,
.dialog--hide .dialog__window--fade {
  opacity: 0;
}

.dialog--show .dialog__window--fade,
.dialog--hide-init .dialog__window--fade {
  opacity: 1;
}
