body.has-modal {
    overflow: hidden;
}

.dialog,
.alert-dialog {
    background-color: rgba(51,51,51,.7);
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px;
    z-index: 1000;
}

.dialog__window,
.alert-dialog__window {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 980px;
    position: fixed;
    overflow: auto;
    overflow-x: hidden;
    padding: 8px 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}

.dialog__header,
.alert-dialog__header {
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    font-size: 16px;
    padding: 8px;
}

.dialog__title,
.alert-dialog__title {
    font-size: 28px;
    align-self: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.dialog__close::after {
    content: '\e60a';
    font-family: 'vq-icon-font';
    font-size: 14px;
}

.dialog__body,
.alert-dialog__body {
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 8px 16px 16px 16px;
    overflow-y: scroll;
}

.alert-dialog__main,
.alert-dialog__footer {
    text-align: center;
}
