.fake-menu {
    position: relative;
}

.fake-menu__host[aria-expanded=true] ~ .fake-menu__content {
    display: block;
}

.fake-menu__content {
    background-color: LightYellow;
    border: 1px solid #aaa;
    box-shadow: 2px 4px 5px #aaa;
    display: none;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.fake-menu__content a,
.fake-menu__content button {
    box-sizing: border-box;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}

.fake-menu__content button {
    margin: 0;
}

.fake-menu__content a:focus,
.fake-menu__content a:hover {
    text-decoration: underline;
}
