.infotip {
    position: relative;
}

.infotip__host {
    background: 0;
    border: 0;
    padding: 0;
}

.infotip__content {
    background: LightYellow;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px #ccc;
    display: none;
    left: 0;
    margin: 0 4px;
    min-width: 250px;
    padding: 0 16px;
    position: absolute;
    text-align: justify;
    z-index: 1;
}

.infotip__host[aria-expanded=true] ~ .infotip__content {
    display: block;
}
