span.listbox {
    display: inline-block;
}
.listbox [role="listbox"] {
    background-color: LightYellow;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: default;
    width: 100%;
}
.listbox [role="option"] {
    box-sizing: border-box;
    padding: 5px 15px 5px 10px;
}
.listbox [role="option"]::after {
    font-family: 'vq-icon-font';
    float: right;
}
.listbox [role="listbox"]:focus [role="option"][aria-selected="true"] {
    outline: 0;
    background-color: #006699;
    color: white;
}
.listbox [role="option"][aria-checked="true"]::after {
    content: '\2713';
}

.listbox-button {
    position: relative;
}

span.listbox-button {
    display: inline-block;
}

.listbox-button .listbox {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.listbox-button__button {
    text-align: left;
    width: 100%;
}
.listbox-button__button[aria-expanded="false"] ~ .listbox {
    display: none;
}
.listbox-button__button[aria-expanded="true"] ~ .listbox {
    display: block;
}
