span.listbox {
    display: inline-block;
}
.listbox [role="listbox"],
.listbox-button [role="listbox"] {
    background-color: LightYellow;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: default;
    width: 100%;
}
.listbox [role="option"],
.listbox-button [role="option"] {
    box-sizing: border-box;
    display: flex;
    padding: 4px 8px 4px 8px;
}
.listbox [role="listbox"]:focus .listbox__option--active,
.listbox-button__option--active {
    outline: 0;
    background-color: #006699;
    color: white;

    svg {
        fill: white;
    }
}
.listbox [role="option"] svg,
.listbox-button [role="option"] svg {
    align-self: center;
    margin-left: auto;
    opacity: 0;
}
.listbox [role="option"][aria-selected="true"] svg,
.listbox-button [role="option"][aria-selected="true"] svg {
    opacity: 1;
}
.listbox-button {
    position: relative;
}
span.listbox-button {
    display: inline-block;
}
.listbox-button .listbox-button__listbox {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.listbox-button__button {
    display: flex;
    text-align: left;
    width: 100%;
}
.listbox-button__button svg {
    align-self: center;
    margin-left: auto;
}
.listbox-button--expanded .listbox-button__listbox {
    display: block;
}
.listbox-button__button[aria-expanded="false"] ~ .listbox-button__listbox {
    display: none;
}
.listbox-button__button[aria-expanded="true"] ~ .listbox-button__listbox {
    display: block;
}
