span.listbox {
    display: inline-block;
}
.listbox [role="listbox"],
.listbox-button [role="listbox"] {
    background-color: LightYellow;
    border: 1px solid #eee;
    box-sizing: border-box;
    cursor: default;
    width: 100%;
}
.listbox [role="option"],
.listbox-button [role="option"] {
    box-sizing: border-box;
    padding: 5px 15px 5px 10px;
}
.listbox [role="option"]::after,
.listbox-button [role="option"]::after  {
    font-family: 'vq-icon-font';
    float: right;
}
.listbox [role="listbox"]:focus .listbox__option--active,
.listbox-button__option--active {
    outline: 0;
    background-color: #006699;
    color: white;
}
.listbox [role="option"][aria-selected="true"]::after,
.listbox-button [role="option"][aria-selected="true"]::after {
    content: '\2713';
}
.listbox-button {
    position: relative;
}
span.listbox-button {
    display: inline-block;
}
.listbox-button .listbox-button__listbox {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.listbox-button__button {
    text-align: left;
    width: 100%;
}
.listbox-button__icon {
    float: right;
    margin-left: 8px;
}
.listbox-button__icon::after {
    content: ' \e61c';
    font-family: 'vq-icon-font';
    font-size: 12px;
}
.listbox-button--expanded .listbox-button__listbox {
    display: block;
}
.listbox-button__button[aria-expanded="false"] ~ .listbox-button__listbox {
    display: none;
}
.listbox-button__button[aria-expanded="true"] ~ .listbox-button__listbox {
    display: block;
}
