.menu-button {
    position: relative;
}

span.menu-button {
    display: inline-block;
}

.menu [role=menu] {
    background-color: LightYellow;
    border: 1px solid #aaa;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-button [role=menu] {
    box-shadow: 1px 2px 2.5px #ccc;
    position: absolute;
    z-index: 1;
}
.menu-button__button[aria-expanded=false] + .menu {
    display: none;
}
.menu-button__button[aria-expanded=true] + .menu {
    display: block;
}
.menu-button__icon {
    float: right;
    margin-left: 8px;
}
.menu-button__icon::after {
    content: ' \e601';
    font-family: 'vq-icon-font';
    font-size: 12px;
}
.menu [role=menu] hr {
    border: 0;
    background-color: #ccc;
    height: 1px;
    margin: 1px 0;
}
.menu [role=menu] hr {
    margin: 0;
}
.menu [role^=menuitem] {
    cursor: default;
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 16px 4px 16px;
    width: 100%;
}
.menu [role^=menuitem]::first-letter {
    /* the following rule causes an odd bug in VoiceOver */
    /* text-decoration: underline; */
}
.menu [role^=menuitem]:focus {
    background-color: #006699;
    color: white;
    outline: 0 none;
}
.menu [role=menuitemcheckbox][aria-checked=true]::before,
.menu [role=menuitemradio][aria-checked=true]::before {
    display: inline-block;
    width: 16px;
    margin-left: -16px;
}
.menu [role=menuitemcheckbox][aria-checked=true]::after {
    content: '\2713';
    float: right;
}
.menu [role=menuitemradio][aria-checked=true]::before {
    content: '\00a0\2022';
}
