.menu-button {
    position: relative;
}

span.menu-button {
    display: inline-block;
}

.menu-button__button[aria-expanded=false] + .menu-button__menu {
    display: none;
}
.menu-button__button[aria-expanded=true] + .menu-button__menu {
    display: block;
}
.menu-button__button {
    display: flex;
}
.menu-button__button svg {
    align-self: center;
    margin-left: 8px;
}

.menu-button__menu {
    min-width: 100%;
    position: absolute;
    width: auto;
}

.menu [role=menu],
.menu-button [role=menu] {
    background-color: LightYellow;
    border: 1px solid #aaa;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu-button [role=menu] {
    box-shadow: 1px 2px 2.5px #ccc;
    position: relative;
    z-index: 1;
}

.menu [role^=menuitem],
.menu-button [role^=menuitem] {
    cursor: default;
    display: flex;
    padding: 8px 8px 4px 8px;

    svg {
        align-self: center;
        margin-left: auto;
    }
}
.menu [role^=menuitem]:focus,
.menu-button [role^=menuitem]:focus {
    background-color: #006699;
    color: white;
    outline: 0 none;

    svg {
        fill: white;
    }
}

.menu [role=menuitemcheckbox][aria-checked=false] svg,
.menu-button [role=menuitemcheckbox][aria-checked=false] svg,
.menu [role=menuitemradio][aria-checked=false] svg,
.menu-button [role=menuitemradio][aria-checked=false] svg {
    opacity: 0;
}

.menu [role=menuitemcheckbox][aria-checked=true] svg,
.menu-button [role=menuitemcheckbox][aria-checked=true] svg,
.menu [role=menuitemradio][aria-checked=true] svg,
.menu-button [role=menuitemradio][aria-checked=true] svg {
    opacity: 1;
}

.menu [role=menu] hr,
.menu-button [role=menu] hr {
    border: 0;
    background-color: #ccc;
    height: 1px;
    margin: 0;
}
