.star-rating {
    font-size: 1rem;
}

.star-rating input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.star-rating input[type=radio] + label::before {
    content: '\e61d';
    color: gold;
    font-family: 'vq-icon-font';
    font-size: 1.5em;
    outline: 1px dotted transparent;
}

.star-rating--unselected input[type=radio] + label::before {
    color: #ddd;
}

.star-rating input[type=radio]:checked + label::before,
.star-rating input[type=radio].included + label::before {
    color: gold;
}

.star-rating input[type=radio]:checked ~ input + label::before {
    color: #ddd;
}

.star-rating input[type=radio]:focus + label::before {
    outline: 1px dotted black;
}
