.star-rating .radio {
  --radio-checked-color: #111;
  --radio-unchecked-color: #111;
}

.star-rating .radio__icon,
.star-rating .radio__control[type="radio"] {
    height: 40px;
    width: 40px;
}

.star-rating svg {
    height: 100%;
    width: 100%;
}

.star-rating .radio--checked input.radio__control[type="radio"] + span.radio__icon svg.radio__checked {
  display: inline-block;
}

.star-rating .radio--checked input.radio__control[type="radio"] + span.radio__icon svg.radio__unchecked {
  display: none;
}
