.tabs__items {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tabs__content {
    border: 1px solid #aaa;
    box-sizing: border-box;
    height: 300px;
    overflow-y: auto;
    padding: 1em;
}

.tabs__item {
    background-color: LightYellow;
    border: 1px solid #aaa;
    border-bottom: 0;
    display: inline-block;
    font-weight: bold;
    padding: 5px 1em;
}

.tabs__item a {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

/* js enhanced tabs modifier */

.tabs--js [role=tab]:focus {
    background: #006699;
    outline: 0;
}
.tabs--js [role=tab]:focus,
.tabs--js [role=tab]:focus a {
    color: white;
}
.tabs--js [role=tab] a {
    cursor: default;
}
.tabs--js [role=tabpanel] h3:first-child,
.tabs--js [role=tabpanel] h4:first-child {
    display: none;
}
.tabs--js [role=tabpanel][aria-hidden=false] {
    display: block;
}
.tabs--js [role=tabpanel][aria-hidden=true] {
    display: none;
}
.tabs--js [role=tab][aria-selected=true] {
    text-decoration: underline;
}
