.tooltip {
    position: relative;
}
.tooltip [role=tooltip] {
    background-color: LightYellow;
    border: 1px solid #eee;
    bottom: 100%;
    display: none;
    left: 0;
    padding: 4px 8px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}
.tooltip--expanded [role=tooltip],
.tooltip__host[aria-expanded="true"] ~ [role=tooltip] {
    display: block;
}
