.infotip {
    position: relative;
}
.infotip .flyout__overlay {
    background: LightYellow;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px #ccc;
    margin: 0 4px;
    min-width: 250px;
    padding: 0 16px;
    text-align: justify;
}
.infotip .flyout__trigger {
    background: 0;
    border: 0;
    padding: 0;
}
.infotip a.flyout__trigger {
    text-decoration: none;
}
.infotip .flyout__trigger:after {
    color: #006699;
    content: '\e614';
    font-family: 'vq-icon-font';
    font-size: 16px;
}
.infotip--js > .flyout__trigger[aria-expanded=true]:after {
    content: '\e60a';
}
.infotip--js > .flyout__trigger sup {
    display: none;
}
.infotip--js > .flyout__trigger:focus {
    text-decoration: none;
}
