.fake-menu > button.flyout__trigger:after {
    content: ' \e601';
    font-family: 'vq-icon-font';
    font-size: 12px;
}

.fake-menu .flyout__overlay {
    background-color: LightYellow;
    border: 1px solid #aaa;
    box-shadow: 2px 4px 5px #aaa;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fake-menu .flyout__overlay a {
    box-sizing: border-box;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}

.fake-menu .flyout__overlay a:focus,
.fake-menu .flyout__overlay a:hover {
    text-decoration: underline;
}
