.fauxmenu > button.flyout__trigger:after {
    content: ' \e601';
    font-family: 'vq-icon-font';
}
.fauxmenu .flyout__overlay {
    background-color: LightYellow;
    border: 1px solid #aaa;
    box-shadow: 2px 4px 5px #aaa;
    font-size: small;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.fauxmenu .flyout__overlay a {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    width: 100%;
}
.fauxmenu .flyout__overlay a:focus,
.fauxmenu .flyout__overlay a:hover {
    text-decoration: underline;
}
