.popupnav > ul[aria-hidden=false] {
    display: block;
}
.popupnav > a,
.popupnav > button {
    font-weight: normal;
    margin: 0;
}
.popupnav > button:after {
    content: ' \e601';
    font-family: 'vq-icon-font';
}
.popupnav > ul {
    background-color: LightYellow;
    border: 1px solid #aaa;
    box-shadow: 2px 4px 5px #aaa;
    display: none;
    font-size: small;
    position: fixed;
    vertical-align:top;
    z-index: 1;
}
.popupnav > ul,
.popupnav > ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.popupnav > ul a,
.popupnav > ul span {
    box-sizing: border-box;
    display:inline-block;
    padding: 0.5em;
    text-decoration: none;
    width: 100%;
}
.popupnav > ul a:focus,
.popupnav > ul a:hover {
    text-decoration: underline;
}
