/* using generated font icon content plus custom focus indicator */

.radiogroup > fieldset > span {
    display: inline-block;
    position: relative;
}
.radiogroup > fieldset > div {
    position: relative;
}
.radiogroup input[type=radio] {
    position: absolute;
    opacity: 0;
    /* filter: alpha(opacity=0); */
    z-index: 99;
}
.radiogroup input[type=radio] + * {
    margin-left: 20px;
}
.radiogroup input[type=radio] + *:before {
    background-color: white;
    border-radius: 1em;
    color: #B9B8B8;
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
    content: '\e62b';
    font-family: 'vq-icon-font';
}
html.ie8 .radiogroup input[type=radio] + *:before {
    background-color: transparent;
}
.radiogroup input[type=radio]:checked + *:before {
    color: #326ab2;
    content: '\e62d';
}

.radiogroup input[type=radio]:focus + *:before {
    color: #326ab2;
    outline: 1px dotted #666;
}
html.ie8 .radiogroup input[type=radio]:focus + *:before {
    outline: 0;
}
