.expando-js > button[aria-expanded=false] + * > * {
    display: none;
}

.expando-js > button:after {
    content: ' \e608';
    font-family: 'vq-icon-font';
    font-size: 12px;
}

.expando-js > button[aria-expanded=true]:after {
    content: ' \e606';
}
