.carousel {
    box-sizing: border-box;
    font-size: 1rem;
}

.carousel__main {
    flex-direction: row;
    align-items: center;
}

span.carousel__main {
    display: inline-flex;
}

div.carousel__main {
    display: flex;
}

.carousel__previous,
.carousel__next {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.carousel__previous[aria-disabled=true],
.carousel__next[aria-disabled=true] {
    color: #ccc;
    cursor: default;
}

.carousel__previous::after,
.carousel__next::after {
    font-family: 'vq-icon-font';
}

.carousel__previous {
    left: 0;
}

.carousel__next {
    right: 0;
}

.carousel__previous::after {
    content: '\e607';
}

.carousel__next::after {
    content: '\e608';
}

.carousel__list {
    box-sizing: border-box;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.carousel__list > li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel__list > li[aria-hidden=true] {
    display: none;
}
