.tooltip--js [role=tooltip] {
    background-color: LightYellow;
    border: 1px solid #ccc;
    display: none;
    font-size: small;
    position: fixed;
    padding: 0.5em;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}
.tooltip--js .tooltip__delim {
    display: none;
}
.tooltip--js [role=tooltip]:first-letter {
    text-transform: uppercase;
}
