/*
notice of oddities:
    I have found that using display: flex on table rows causes issues for Voiceover
    I have found that using display: table-cell on gridcell causes issue for Voiceover
*/
.datepicker {
    position: relative;
}
.datepicker__button::after {
    content: ' \e621';
    font-family: 'vq-icon-font';
}
.datepicker caption,
.datepicker__caption {
    font-weight: bold;
    text-align: center;
}

.datepicker [role=grid],
.datepicker table {
    background-color: LightYellow;
    border: 1px solid #eee;
    border-radius: 2px;
}
.datepicker th,
.datepicker [role=columnheader] {
    font-weight: bold;
}

.datepicker th,
.datepicker td,
.datepicker [role=columnheader],
.datepicker [role=gridcell] {
    border-radius: 2px;
    padding: 0.5em;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

.datepicker [role=row] {
    display: flex;
}

.datepicker td[aria-disabled=true],
.datepicker [role=gridcell][aria-disabled=true] {
    color: #767676;
}

.datepicker td[aria-selected=true],
.datepicker [role=gridcell][aria-selected=true] {
    background-color: #000;
    color: #fff;
}

.datepicker td[aria-disabled=true][aria-selected=true],
.datepicker [role=gridcell][aria-disabled=true][aria-selected=true] {

}
