<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>
        <div class="skipto" id="skiptomain"><a href="#main" class="stealth">Skip to main content</a></div>

        <header class="header-large" role="banner">
            <nav role="navigation">
                <h2><a class="header-large__home" href="{{ '/index.html' | relative_url }}">eBay MIND Patterns</a></h2>
                {% assign collections = site.collections | sort: "sequence" %}
                {% for collection in collections %}
                    {% if collection.label != "posts" %}
                    <h3>{{ collection.label }}</h3>
                    <ul>
                        {% assign documents = collection.docs | sort: "title" %}
                        {% for document in documents %}
                            {% if document.hidden != true and document.development != true %}
                            <li><a href="{{ document.url | relative_url }}">{{ document.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            </nav>
        </header>


        <header class="header-small" role="banner">
            <a class="header-small__home" href="{{ '/index.html' | prepend: site.baseurl }}">MIND Patterns</a>
            <ul>
                <li><a href="{{ '/messaging' | relative_url }}">messaging</a></li>
                <li><a href="{{ '/input' | relative_url }}">input</a></li>
                <li><a href="{{ '/navigation' | relative_url }}">navigation</a></li>
                <li><a href="{{ '/disclosure' | relative_url }}">disclosure</a></li>
            </ul>
        </header>
        <main id="main" role="main">
            <div id="logo"><a href="http://www.ebay.com"><span role="img" aria-label="eBay"></span></a></div>
            {{ content }}
        </main>
    </body>
</html>
