.starrating {
    font-size: 1rem;
}

.starrating input[type=radio] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
}
.starrating input[type=radio] + label::before {
    content: '\2605';
    color: gold;
    font-size: 1.5em;
    outline: 1px dotted transparent;
}

.starrating--unselected input[type=radio] + label::before {
    content: '\2606';
}

.starrating input[type=radio]:checked + label::before,
.starrating input[type=radio].included + label::before {
    content: '\2605';
}

.starrating input[type=radio]:checked ~ input + label::before {
    content: '\2606';
}

.starrating input[type=radio]:focus + label::before {
    outline: 1px dotted black;
}
